html {
  margin: auto;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans", Verdana, Arial, Tahoma, sans-serif;
}
header {
  background: linear-gradient(
    to bottom,
    #ddd6f3,
    #faaca8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
}
main {
  flex-grow: 1;
  padding: 1rem;
}
.onthewave {
  position: relative;
  width: 100%;
  top: 10%;
}
footer {
  background: linear-gradient(
    to bottom,
    #faaca8,
    #ddd6f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*opacity: 0.6;*/
  width: 100%;
  height: 155px;

  h2 {
    padding-left: 1rem;
  }
}
a {
  text-decoration: none;
  color: #f75252;
  font-weight: 600;
}
p {
  color: #ba4343;
  font-size: 1rem;

  a {
    font-weight: bold;
  }
}
form p {
  color: #f75252;
}
ul li {
  color: #f75252;
  list-style-type: none;
  padding: 2px;
  padding-left: 10px;
  padding-bottom: 5px;
  display: inline;
}
h1 {
  font-family: "Fugaz One", cursive;
  font-size: 40px;

  a {
    font-family: "Fugaz One", cursive;
  }
  a:hover {
    color: #ffffff;
    text-shadow: 0 0 0.2em #ff3a3a;
    cursor: pointer;
    font-size: 45px;
    text-decoration: none;
    transition: 0.3s ease;
  }
}
h2 {
  font-weight: 500;
  color: #f75252;
}
h3 {
  font-weight: 500;
  color: #fa8179;
  letter-spacing: 1px;

  a:hover {
    color: #f75252;
    cursor: pointer;
    text-shadow: 0 0 0.1em #ff9191;
    text-decoration: none;
  }
}
i {
  color: #ff5448;
  font-size: 30px;
}
nav ul li:hover {
  text-shadow: 0 0 0.2em #ff26008f;
  font-size: 18px;
  text-decoration: none;
}
nav a i {
  padding-left: 20px;
  transition: 1s ease;
}
nav a i:hover {
  color: #ffffff;
  text-shadow: 0 0 0.1em #ff0000a9;
  cursor: pointer;
  font-size: 40px;
  text-decoration: none;
}
table {
  margin: 10px 40px;
}
.fontLight {
  font-weight: 200;
  font-size: 14px;
}
.main__separador.main__separadorgrande {
  padding: 30px;
}
.main__separador {
  display: block;
  width: 100%;
}
.fancy-title {
  margin-bottom: 30px;
}
.text-center.fancy-title:after {
  content: "";
  background: #ececec;
  display: block;
  height: 1px;
  margin: 0 auto;
  position: relative;
  width: 30%;
}

/** HEAD_____Flexbox----------------Flexbox-----------------Flexbox**/
.head__flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 16px;

  transition: 1.5s ease;
}
.head__flex__divHeadSon {
  width: auto;
  height: auto;
}
.head__flex__divHeadSon--nav {
  width: auto;
  height: auto;
  padding: 10px;
  margin-top: 18px;
}
.head__flex__white-space {
  display: block;
  width: 20%;
}

/** FORMULARIO SEC3________Flexbox----------------Flexbox-----------------Flexbox*
.main__form__flex {
  background-image: linear-gradient(rgb(255, 207, 161), rgb(255, 255, 255));
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 7px;
}
.main__form__flex__div {
  padding-left: 1rem;
  width: auto;
  height: auto;
  transition: 2s ease;
}
*/
/** COMENTARIOS SEC4________Flexbox----------------Flexbox-----------------Flexbox**/

.main__comentarios__flex {
  /*
  background: linear-gradient(
    to bottom,
    #faaca8,
    #ddd6f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /**background-image: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.041)); **/

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-radius: 7px;
}
/*.main__comentarios__flex__div {
  background-color: ghostwhite;
  padding: 30px;
  margin: 10px;
  width: auto;
  height: auto;
  background-image: linear-gradient(rgb(255, 144, 40), rgba(255, 255, 255, 0));
  border-radius: 45px 45px 45px 5px;
  transition: 2s ease;
}
.main__comentarios__flex__div--invertido {
  background-color: ghostwhite;
  padding: 30px;
  margin: 10px;
  width: auto;
  height: auto;
  background-image: linear-gradient(rgb(255, 144, 40), rgba(255, 255, 255, 0));
  border-radius: 45px 45px 5px 45px;
  transition: 2s ease;
}
*/
.main__comentarios__pshadow {
  text-shadow: 0 0 0.3em #ffffff;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
/** GRILLAS SEC2________Grillas----------------Grillas-----------------Grillas**/

.main__servicios__grid {
  display: grid;
  grid-area: "WalkingTour WalkingTour WalkingTour" "BarTours BarTours BarTours"
    "AfterOficeTrip AfterOficeTrip AfterOficeTrip";
  grid-template-rows: auto;
  grid-template-columns: auto;
}
.main__servicios__grid__border {
  border: 3px solid #fcdca1;
}
main__servicios__grid__WalkingTour {
  grid-area: WalkingTour;
}
main__servicios__grid__BarTours {
  grid-area: BarTours;
}
main__servicios__grid__AfterOficeTrip {
  grid-area: AfterOficeTrip;
}

.main__servicios__grid__div {
  background-color: ghostwhite;
}
.main__servicios__grid__div--color {
  background-color: #ffd5ac;
}

.main__servicios__font {
  h3 {
    color: #ececec;
    text-shadow: 0 0 0.2em #f8a4a4;
  }
  i {
    color: #ececec;
    text-shadow: 0 0 0.2em #f8a4a4;
  }
}

.main__servicios__font__color--1 {
  background-color: rgba(255, 111, 0, 0.871);
  border-radius: 45px 45px 47px 47px;
  transition: 2s ease;
  padding: 30px;
  margin: 10px;
  width: auto;
  height: auto;
  p {
    color: #ececec;
    text-shadow: 0 0 0.2em #f8a4a4;
  }
}
.main__servicios__font__color--2 {
  background-color: rgba(255, 68, 0, 0.871);
  border-radius: 45px 45px 47px 47px;
  transition: 2s ease;
  padding: 30px;
  margin: 10px;
  width: auto;
  height: auto;
  p {
    color: #ececec;
    text-shadow: 0 0 0.2em #f8a4a4;
  }
}
.main__servicios__font__color--3 {
  background-color: rgba(250, 79, 41, 0.871);
  border-radius: 45px 45px 47px 47px;
  transition: 2s ease;
  padding: 30px;
  margin: 10px;
  width: auto;
  height: auto;
  p {
    color: #ececec;
    text-shadow: 0 0 0.2em #f8a4a4;
  }
}
/** GRILLAS SEC2________Grillas----------------Grillas-----------------Grillas**/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  p {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0 0 1em #2e0808;
    background-color: #ff545441;
  }
  h3 {
    background-color: #ffffffdb;
    font-size: 2rem;
    font-weight: 600;
  }
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 19rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 19rem;
  object-fit: cover;
  height: 300px !important;
  width: 350px;
}
.carousel-estile {
  border-radius: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* SASS II  aplicado en los comentarios de la sec4. de pages
-------------------------------------------------- */

@for $i from 1 through 14 {
  .main__comentarios__flex__div:nth-child(#{$i}) {
    background-color: darken(#fd7f71, $i * 5);
    border-radius: 45px 45px 45px 6px;
    transition: 2s ease;
    padding: 30px;
    margin: 10px;
    width: auto;
    height: auto;
    p {
      color: #ececec;
      text-shadow: 0 0 0.2em #f8a4a4;
    }
  }
  @if $i % 2 == 0 {
    .main__comentarios__flex__div:nth-child(#{$i}) {
      border-radius: 45px 45px 5px 45px;
      background-color: darken(#ff4848, $i * 5);
    }
  }
}
/*  Formulario nuevo 
----------------------------------------------------*/
.form__contacto {
  max-width: 800px;
  margin: 0.1px auto;
  position: relative;
  padding-bottom: 30px;

  h2 {
    text-align: center;
    letter-spacing: 0px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: #5543ca;
    background: linear-gradient(to right, #f4534d, #7165c2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.contact_form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact_form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #a087f2;
  font-size: 1.2rem;
  line-height: 26px;
  font-weight: 400;
}
.contact_form .input-text:focus {
  outline: none;
}
.contact_form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 1.2rem;
  line-height: 26px;
  font-weight: 400;
  color: #a087f2;
  cursor: text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
}
.contact_form .submit-btn {
  display: inline-block;
  background-image: linear-gradient(125deg, #ddd6f3, #faaca8);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  width: 200px;
  cursor: pointer;
}
.contact_form .submit-btn:hover {
  text-shadow: 0 0 0.9em #ffffff;
  background-image: linear-gradient(125deg, #bbaaf0, #f78a85);
}
.contact_form .submit-select {
  display: inline-block;
  background-image: linear-gradient(125deg, #ddd6f3, #faaca8);
  color: #000000;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  width: 160px;
  height: 50px;
  cursor: pointer;
}
.contact_form .input-text:focus + .label,
.contact_form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.videoContainer {
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 400px;
  right: 150px;
  background: #ffb8b890;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 400;
}
.btn-wsp :hover {
  color: #ffffff;
  text-shadow: 0 0 0.2em #ff26008f;
}
.non-underline-link {
  text-decoration: none !important;
}
